@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #bed9e7;
  font-family: 'Ubuntu', sans-serif;
}

#logo{
  margin-bottom: 10rem;
}

img{
  display: block;
  margin-top: 5em;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
}

#cardHead{
  width: 96%;
  background-color: rgb(110, 165, 195);
  padding: 2% 2%;
  margin-bottom: 2em;
} 

#divLogin{
  display: none;
  margin: auto;
  width: 30%;
  text-align: center;
  color: white;
  background-color: rgb(143, 191, 214);
  padding-bottom: 50px;
}

#divRegisto{
  display: none;
  margin: auto;
  width: 30%;
  text-align: center;
  color: white;
  background-color: rgb(143, 191, 214);
  padding-bottom: 50px;
}
